@import url('https://fonts.googleapis.com/css2?family=Itim&family=Patua+One&display=swap');

.btn
{
    font-family: 'Itim', cursive;
    font-size: 25px;
    color: #5e35b1;
    background-color: white;
    border: 1px #5e35b1 solid;
}

.btn:hover
{
    color: white;
    background-color: #5e35b1;
}

label
{
    font-family: 'Itim', cursive;
    font-size: 25px;
    color: #5e35b1;
}

.mainContent
{
    margin-top: 15%;
}